{% extends "base.html" %}
{% load static %}


{% block title %}Strona Główna | sta{% endblock %}

{% block content %}

  <section class="cta-section text-center mt-5">
  <h2>Skontaktuj się z nami</h2>
  <form method="post" action="{% url 'send_email' %}" class="mt-4" style="max-width: 600px; margin: 0 auto;">
    {% csrf_token %}
    <div class="mb-3 text-start">
      <label for="name" class="form-label">Imię i nazwisko</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3 text-start">
      <label for="email" class="form-label">Adres email</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3 text-start">
      <label for="phone" class="form-label">Numer telefonu (opcjonalnie)</label>
      <input type="text" class="form-control" id="phone" name="phone">
    </div>
    <div class="mb-3 text-start">
      <label for="subject" class="form-label">Temat</label>
      <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <div class="mb-3 text-start">
      <label for="message" class="form-label">Wiadomość</label>
      <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Wyślij</button>
  </form>
</section>
{% endblock content %}


