{% extends "base.html" %}

{% block title %}Strona Główna | sta{% endblock %}

{% block content %}
  <section class="hero-section text-center">
    <h1>Twój Wymiar, Nasz Projekt</h1>
    <p class="lead">
      Specjalizujemy się w projektowaniu i montażu nowoczesnych mebli, kuchni oraz szaf na wymiar.
Nasze projekty łączą funkcjonalność z estetyką, tworząc przestrzenie, które odzwierciedlają Twój styl życia i potrzeby. 
Współpracujemy z Tobą na każdym etapie, aby zapewnić satysfakcję i wyjątkowy efekt końcowy.
 Niezależnie od wielkości pomieszczenia – zawsze dopasujemy rozwiązanie idealne dla Ciebie.
    </p>
  </section>

  <section class="services-section container mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <h3>Projektowanie</h3>
        <p>Tworzymy indywidualne projekty dopasowane do Twoich potrzeb i przestrzeni.
Każdy klient i każde wnętrze są inne – dlatego nie pracujemy na gotowych szablonach. 
Stawiamy na personalizację i dokładne poznanie Twoich oczekiwań. Dzięki nowoczesnym narzędziom do wizualizacji 
możesz zobaczyć swój projekt jeszcze przed realizacją, co pozwala idealnie dopasować detale i materiały.</p>
      </div>
      <div class="col-md-4">
        <h3>Montaż</h3>
        <p>Profesjonalny montaż mebli z dbałością o każdy detal.
Zespół naszych monterów to wykwalifikowani fachowcy, którzy dbają o precyzyjne i bezpieczne wykonanie każdej realizacji. 
Pracujemy szybko, czysto i punktualnie, pozostawiając po sobie gotowe do użytku wnętrze bez bałaganu. 
Zadowolenie klienta to dla nas priorytet.</p>
      </div>
      <div class="col-md-4">
        <h3>Wysoka jakość</h3>
        <p>Używamy materiałów renomowanych producentów oraz nowoczesnych technologii.
Stawiamy na trwałość, estetykę i solidne wykonanie. Współpracujemy z uznanymi dostawcami płyt meblowych, okuć i akcesoriów, 
aby zapewnić długowieczność naszych produktów. Ciągłe doskonalenie naszych usług gwarantują najwyższą jakość realizacji.</p>
      </div>
    </div>
  </section>

  <section class="cta-section text-center mt-5">
    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg">Zamów wycenę</a>
  </section>
{% endblock content %}
